rm -rf *.o kernel.bin iso saturnos.iso

# compile C files
gcc -m32 -ffreestanding -c kernel.c -o kernel.o
gcc -m32 -ffreestanding -c drivers/keyboard.c -o keyboard.o
gcc -m32 -ffreestanding -c drivers/mouse.c -o mouse.o
gcc -m32 -ffreestanding -c drivers/delay.c -o delay.o 
gcc -m32 -ffreestanding -c fs/fs.c -o fs.o

# assemble ASM files

as --32 boot.s -o boot.o

# link kernel
ld -m elf_i386 -T linker.ld -o kernel.bin \
boot.o kernel.o keyboard.o delay.o fs.o mouse.o

# build ISO structure
mkdir -p iso/boot/grub
cp kernel.bin iso/boot/
cp grub.cfg iso/boot/grub/

# create ISO
grub-mkrescue -o saturnos.iso iso

# run in QEMU
qemu-system-i386 -cdrom saturnos.iso